<div class="pageAction"><p align="center"><b>{action}{caption_subtitle}</b></p></div>
<script>
   function check() {
       document.editForm.save.disabled = true;

       var groups_name = document.editForm.groups_name.value;


       switch (true) {

         case (groups_name == ''):
              alert("”кажите название!");
              document.editForm.groups_name.focus();
              document.editForm.save.disabled = false;
              return false;

       }

       return true;
   }
</script>

<TABLE width="100%" cellspacing="0" cellpadding="5" border="0" bgcolor="#f5f5f5" style="border: solid 1px #7f9db9; margin-bottom: 5px;">
<form name="editForm" method="POST" onSubmit="return check();" enctype="multipart/form-data">
<input type="hidden" name="{KeyName}" value="{KeyValue}">
<input type="hidden" name="action" value="save">
<input type="hidden" name="referer" value="{referer}">
   <if Error><TR><TD colspan=2><font color=red>{ErrorMessage}</font></TD></TR></if Error>

   <if paramsblock>
   <TR><TD width="10%" align="right">{title_groups_name}<font color=red>*</font>:</TD>
       <TD align=left width="90%" colspan="2">
       <input type="text" name="groups_name" value="{groups_name}" style="width: 100%;">
       </TD></tr>
	<tr>
		<TD width="10%" align="right">{title_groups_dir}:</TD>
       <TD align=left width="90%" colspan="2">
       <input type="text" name="groups_dir" value="{groups_dir}" style="width: 100%;">
       </TD></TR>

   <TR><TD width="10%" align="right"><nobr>TITLE:</nobr></TD>
       <TD align=left width="80%">
       <input type="text" name="groups_metatitle" value="{groups_metatitle}" style="width: 100%;">
	   <TD align=left width="10%">
       <nobr><!--<input type="checkbox" name="groups_metatitle_add" value="checked" {groups_metatitle_add}>--> {title_groups_addtitle}
        <select name="groups_metatitle_add">
            <option value="">{caption_groups_metatitle_add_no}</option>
            <option value="before" {before_selected}>{caption_groups_metatitle_add_before}</option>
            <option value="after" {after_selected}>{caption_groups_metatitle_add_after}</option></select>
       </nobr>
       </TD></TR>

   <TR><TD width="10%" align="right"><nobr>META DESCRIPTION:</nobr></TD>
       <TD colspan="3" align=left width="90%">
       <input type="text" name="groups_metadescription" value="{groups_metadescription}" style="width: 100%;">
       </TD></TR>

   <TR>
   		<td></td>
	   <TD colspan="3" colspan="4">
		{title_groups_order}: <input type="text" name="groups_order" value="{groups_order}" size="3">&nbsp;&nbsp;&nbsp;&nbsp;
		{title_groups_newscount}: <input type="text" name="groups_list_count" value="{groups_list_count}" size="3">
       </TD>
</TR>
   <TR>
   		<td></td>
	   <TD colspan="3" width="100%"><input type=checkbox name="groups_show_in_owner" value="checked" {groups_show_in_owner}> {title_groups_showinowner}</TD>
	   </TR>
   <TR>
   		<td></td>
	   <TD colspan="3" width="100%"><input type=checkbox name="groups_active" value="checked" {groups_active}> {title_groups_active}</TD>
	   </TR>

   <TR>
   		<td></td>
	   <TD colspan="3" width="100%"><selector from onChange="if (0 < this.value) location.href = '/admin/groups.php?action=edit&item={KeyValue}&from=' + this.value"> загрузить настройки из группы</TD>
	   </TR>

	   </table>
   </if paramsblock>
   
<style>
.zagnast h2 {
	margin: 0px;
	background-color: #7aa1e6;
	border: 1px solid #7aa1e6;
	font: bold 12px Verdana, Arial;
	padding: 5px;
	color: #fbfbfb;
}
</style>
   
<TABLE width="100%" cellspacing="0" cellpadding="5" border="0" bgcolor="#f5f5f5" style="border: solid 1px #7f9db9; margin-bottom: 5px;">
   <TR><TD class="zagnast" colspan="2" align="center"><h2>{caption_groups_mainblock}</h2></TD></TR>
	<tr><td colspan="2">
	<TABLE width="100%" cellspacing="0" cellpadding="0" border="0">
   <TR><TD colspan="2" style="padding-bottom: 10px;" align="center"><nobr><input type=checkbox name="groups_mainblock_enabled" value="checked" {groups_mainblock_enabled}> {title_groups_blockenabled}</nobr>&nbsp;&nbsp;&nbsp;&nbsp;<nobr><input type=checkbox name="groups_mainblock_only_images" value="checked" {groups_mainblock_only_images}> {title_groups_showwithimages}</nobr>&nbsp;&nbsp;&nbsp;&nbsp;<nobr>{title_groups_newscount}: <input type="text" name="groups_mainblock_count" value="{groups_mainblock_count}" size="5"></nobr>
	</TD></TR>
   <TR><TD width="100"><nobr>{caption_groups_showfields}:</nobr></TD>
       <TD align=left width="80%">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
             <td width="25%"><input type="checkbox" name="groups_mainblock_fields[news_date]" value="checked" {groups_mainblock_fields_news_date}> {title_groups_fields_date}</td>
             <td width="25%"><input type="checkbox" name="groups_mainblock_fields[news_title]" value="checked" {groups_mainblock_fields_news_title}> {title_groups_fields_title}</td>
             <td width="25%"><input type="checkbox" name="groups_mainblock_fields[news_image]" value="checked" {groups_mainblock_fields_news_image}> {title_groups_fields_image}</td>
             <td width="25%"><input type="checkbox" name="groups_mainblock_fields[news_group]" value="checked" {groups_mainblock_fields_news_group}> {title_groups_fields_category}</td>
          </tr>
          <tr>
             <td width="25%"><input type="checkbox" name="groups_mainblock_fields[news_time]" value="checked" {groups_mainblock_fields_news_time}> {title_groups_fields_time}</td>
             <td width="25%"><input type="checkbox" name="groups_mainblock_fields[news_description]" value="checked" {groups_mainblock_fields_news_description}> {title_groups_fields_description}</td>
             <td width="25%"><input type="checkbox" name="groups_mainblock_fields[news_source]" value="checked" {groups_mainblock_fields_news_source}> {title_groups_fields_source}</td>
             <td width="25%"><input type="checkbox" name="groups_mainblock_fields[news_subgroup]" value="checked" {groups_mainblock_fields_news_subgroup}> {title_groups_fields_subcategory}</td>
          </tr>
        </table>

       </TD></TR>
	</table>
	</td></tr>
   <if newsblock>
   <TR><TD class="zagnast" colspan="2" align="center"><h2>{caption_groups_subgroupsblock}</h2></TD></TR>

   <TR><TD colspan="2" style="padding-bottom: 10px;" align="center"><nobr><input type=checkbox name="groups_newsblock_enabled" value="checked" {groups_newsblock_enabled}> {title_groups_blockenabled}</nobr>&nbsp;&nbsp;&nbsp;&nbsp;<nobr>{title_groups_newscount}: <input type="text" name="groups_newsblock_count" value="{groups_newsblock_count}" size="5"></nobr></TD></TR>

   <TR><TD width="100"><nobr>{caption_groups_showfields}:</nobr></TD>
       <TD align=left width="80%">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
             <td width="25%"><input type="checkbox" name="groups_newsblock_fields[news_date]" value="checked" {groups_newsblock_fields_news_date}> {title_groups_fields_date}</td>
             <td width="25%"><input type="checkbox" name="groups_newsblock_fields[news_title]" value="checked" {groups_newsblock_fields_news_title}> {title_groups_fields_title}</td>
             <td width="25%"><input type="checkbox" name="groups_newsblock_fields[news_image]" value="checked" {groups_newsblock_fields_news_image}> {title_groups_fields_image}</td>
             <td width="25%"><input type="checkbox" name="groups_newsblock_fields[news_group]" value="checked" {groups_newsblock_fields_news_group}> {title_groups_fields_category}</td>
          </tr>
          <tr>
             <td width="25%"><input type="checkbox" name="groups_newsblock_fields[news_time]" value="checked" {groups_newsblock_fields_news_time}> {title_groups_fields_time}</td>
             <td width="25%"><input type="checkbox" name="groups_newsblock_fields[news_description]" value="checked" {groups_newsblock_fields_news_description}> {title_groups_fields_description}</td>
             <td width="25%"><input type="checkbox" name="groups_newsblock_fields[news_source]" value="checked" {groups_newsblock_fields_news_source}> {title_groups_fields_source}</td>
             <td width="25%"><input type="checkbox" name="groups_newsblock_fields[news_subgroup]" value="checked" {groups_newsblock_fields_news_subgroup}> {title_groups_fields_subcategory}</td>
          </tr>
        </table>
       </TD></TR>


   <TR><TD class="zagnast" colspan="2" align="center"><h2>{caption_groups_subgroupslastnewsblock}</h2></TD></TR>

   <TR><TD colspan="2" style="padding-bottom: 10px;" align="center"><nobr><input type=checkbox name="groups_newsblock_lastnews_enabled" value="checked" {groups_newsblock_lastnews_enabled}> {title_groups_blockenabled}</nobr>&nbsp;&nbsp;&nbsp;&nbsp;<nobr>{title_groups_newscount}: <input type="text" name="groups_newsblock_lastnews_count" value="{groups_newsblock_lastnews_count}" size="5"></nobr></TD></TR>

   <TR><TD width="100"><nobr>{caption_groups_showfields}:</nobr></TD>
       <TD align=left width="80%">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
             <td width="33%"><input type="checkbox" name="groups_newsblock_lastnews_fields[news_date]" value="checked" {groups_newsblock_lastnews_fields_news_date}> {title_groups_fields_date}</td>
             <td width="33%"><input type="checkbox" name="groups_newsblock_lastnews_fields[news_title]" value="checked" {groups_newsblock_lastnews_fields_news_title}> {title_groups_fields_title}</td>
             <td width="33%"><input type="checkbox" name="groups_newsblock_lastnews_fields[news_time]" value="checked" {groups_newsblock_lastnews_fields_news_time}> {title_groups_fields_time}</td>
          </tr>
          <tr>
          </tr>
        </table>
       </TD></TR>
   </if newsblock>

   <if lastblock>
   <TR><TD class="zagnast" colspan="2" align="center"><h2>{caption_groups_lastnewsblock}</h2></TD></TR>

   <TR><TD colspan="2" style="padding-bottom: 10px;" align="center"><nobr><input type=checkbox name="groups_lastblock_enabled" value="checked" {groups_lastblock_enabled}> {title_groups_blockenabled}</nobr>&nbsp;&nbsp;&nbsp;&nbsp;<nobr>{title_groups_newscount}: <input type="text" name="groups_lastblock_count" value="{groups_lastblock_count}" size="5"></TD></TR>

   <TR><TD width="100"><nobr>{caption_groups_showfields}:</nobr></TD>
       <TD align=left width="80%">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
             <td width="25%"><input type="checkbox" name="groups_lastblock_fields[news_date]" value="checked" {groups_lastblock_fields_news_date}> {title_groups_fields_date}</td>
             <td width="25%"><input type="checkbox" name="groups_lastblock_fields[news_title]" value="checked" {groups_lastblock_fields_news_title}> {title_groups_fields_title}</td>
             <td width="25%"><input type="checkbox" name="groups_lastblock_fields[news_image]" value="checked" {groups_lastblock_fields_news_image}> {title_groups_fields_image}</td>
             <td width="25%"><input type="checkbox" name="groups_lastblock_fields[news_group]" value="checked" {groups_lastblock_fields_news_group}> {title_groups_fields_category}</td>
          </tr>
          <tr>
             <td width="25%"><input type="checkbox" name="groups_lastblock_fields[news_time]" value="checked" {groups_lastblock_fields_news_time}> {title_groups_fields_time}</td>
             <td width="25%"><input type="checkbox" name="groups_lastblock_fields[news_description]" value="checked" {groups_lastblock_fields_news_description}> {title_groups_fields_description}</td>
             <td width="25%"><input type="checkbox" name="groups_lastblock_fields[news_source]" value="checked" {groups_lastblock_fields_news_source}> {title_groups_fields_source}</td>
             <td width="25%"><input type="checkbox" name="groups_lastblock_fields[news_subgroup]" value="checked" {groups_lastblock_fields_news_subgroup}> {title_groups_fields_subcategory}</td>
          </tr>
        </table>
       </TD></TR>
   </if lastblock>
</TABLE>

<TABLE width="100%" cellpadding="0" cellspacing="0" style="margin-top: 10px;">
<TR><TD align=left width="1%"><input type="submit" name="save" value="{button_save}">&nbsp;</td><td align="left" width="1%">&nbsp;<input type="checkbox" name="return" value="1" {return}>&nbsp;</td><td align="left" width="1%"><nobr>{caption_return}</nobr></TD><TD align=right width="97%"><input type="button" name="back" value="{button_back}" onClick="location.href='{referer}'"></TD></TR>
</TABLE>